In [1]:
import pandas as pd  
import numpy as np
from glob import glob
from scipy.io import savemat, loadmat
from datetime import datetime, timedelta

import seaborn as sns
sns.reset_orig()
import pdb

import psycopg2
import sqlite3
import os
import gzip

from importlib import reload

import visualizeProfs as vp
%config InlineBackend.figure_format = 'retina'
from pchipOceanSlices import PchipOceanSlices

/home/tyler/anaconda3/envs/argo/lib/python3.6/_collections_abc.py:841: MatplotlibDeprecationWarning:
The examples.directory rcparam was deprecated in Matplotlib 3.0 and will be removed in 3.2. In the future, examples will be found relative to the 'datapath' directory.
  self[key] = other[key]
/home/tyler/anaconda3/envs/argo/lib/python3.6/_collections_abc.py:841: MatplotlibDeprecationWarning:
The savefig.frameon rcparam was deprecated in Matplotlib 3.1 and will be removed in 3.3.
  self[key] = other[key]
/home/tyler/anaconda3/envs/argo/lib/python3.6/_collections_abc.py:841: MatplotlibDeprecationWarning:
The text.latex.unicode rcparam was deprecated in Matplotlib 3.0 and will be removed in 3.2.
  self[key] = other[key]
/home/tyler/anaconda3/envs/argo/lib/python3.6/_collections_abc.py:841: MatplotlibDeprecationWarning:
The verbose.fileo rcparam was deprecated in Matplotlib 3.1 and will be removed in 3.3.
  self[key] = other[key]
/home/tyler/anaconda3/envs/argo/lib/python3.6/_collections_abc.py:841: MatplotlibDeprecationWarning:
The verbose.level rcparam was deprecated in Matplotlib 3.1 and will be removed in 3.3.
  self[key] = other[key]

# Init database

In [2]:
sqliteDb = "/storage/kakapo/JG_profiles.db"
tableName = "profiles"
conn = sqlite3.connect(sqliteDb)

In [3]:
conn.execute('''DROP TABLE IF EXISTS {};'''.format(tableName))

In [5]:
try:
    smdf = pd.read_sql_query('SELECT * FROM {} LIMIT 10;'.format(tableName), conn)
except Exception as err:
    print(err)
    pass

Execution failed on sql 'SELECT * FROM profiles LIMIT 10;': no such table: profiles

# Get reject list of profiles

In [6]:
rList = glob('/storage/kakapo/*temp*')
wl = glob('/storage/kakapo/*.xml')
header = ['platform_number', 'cycle', 'lat', 'lon', 'c1', 'c2', 'c3', 'c4', 'c5']

def get_lines(filename):
    with open(filename, "r") as f:
        data = f.readlines()
        lines = []
        for line in data: 
            line = ' '.join(line.split())
            line = line.split(' ')
            line[-1] = line[-1].replace('/n', '')
            lines.append(line)
        print(filename)
    return lines

def parse_kakapo(filename, header):
    '''parses reject and white list in kakapo'''
    lines = get_lines(filename)
    df = pd.DataFrame(data=lines, columns=header)
    df['profile_id'] = df['platform_number'].apply(lambda x: str(x)) + '_'  + df['cycle'].apply(lambda x: str(x))
    return df

rejectDf = parse_kakapo(rList[0], header)
whiteList = parse_kakapo(wl[0], header)

/storage/kakapo/reject_cycle_fromvar_temp_01x01_finl
/storage/kakapo/ar_whitelist_2019.xml

In [7]:
print(rejectDf.shape)
rejectDf.head()

(2135, 10)

,platform_number,cycle,lat,lon,c1,c2,c3,c4,c5,profile_id
0,6903190,18,-60.917,304.997,0,2.154,0.257,6.0xtimes1975.0,None,6903190_18
1,5903417,88,-37.717,332.474,1,0.343,0.051,6.0xtimes1975.0,None,5903417_88
2,6901697,81,-37.674,332.432,1,0.551,0.051,6.0xtimes1975.0,None,6901697_81
3,3900529,66,-37.284,285.835,1,0.230,0.038,6.0xtimes1975.0,None,3900529_66
4,5904120,53,-36.369,330.982,1,0.640,0.048,6.0xtimes1975.0,None,5904120_53

In [8]:
ok_ids = whiteList['profile_id'].tolist()

In [9]:
rejectDf = rejectDf[~rejectDf['profile_id'].isin(ok_ids)]

In [10]:
print(rejectDf.shape)
rejectDf.head()

(1113, 10)

,platform_number,cycle,lat,lon,c1,c2,c3,c4,c5,profile_id
0,6903190,18,-60.917,304.997,0,2.154,0.257,6.0xtimes1975.0,None,6903190_18
1,5903417,88,-37.717,332.474,1,0.343,0.051,6.0xtimes1975.0,None,5903417_88
2,6901697,81,-37.674,332.432,1,0.551,0.051,6.0xtimes1975.0,None,6901697_81
3,3900529,66,-37.284,285.835,1,0.230,0.038,6.0xtimes1975.0,None,3900529_66
4,5904120,53,-36.369,330.982,1,0.640,0.048,6.0xtimes1975.0,None,5904120_53

# Parse data files

In [ ]:
files = glob('/storage/kakapo/*_padj.dat.gz')
header = ['latitude', 'longitude', 'day', 'month', 'year', 'hr', 'min',
          'sec', 'pressure', 'temperature', 'potential temperature',
          'salinity', 'DMODE status', 'WMO', 'cycle number', 'original netcdf file']

def get_gzip_lines(filename):
    with gzip.open(file, "r") as f:
        data = f.readlines()
        lines = []
        for line in data:
            line = line.decode('utf-8')
            line = ' '.join(line.split())
            line = line.split(' ')
            line[-1] = line[-1].replace('/n', '')
            lines.append(line)
        print(filename)
    return lines


#conn.execute('''DROP TABLE IF EXISTS {};'''.format(tableName))
for file in files:
    lines = get_gzip_lines(file)
    df = pd.DataFrame(data=lines, columns=header)
    df['profile_id'] = df['WMO'].apply(lambda x: str(x)) + '_'  + df['cycle number'].apply(lambda x: str(x))
    df.to_sql(tableName, conn, if_exists='append', index=False)

/storage/kakapo/200401_padj.dat.gz
/storage/kakapo/200402_padj.dat.gz
/storage/kakapo/200403_padj.dat.gz
/storage/kakapo/200404_padj.dat.gz
/storage/kakapo/200405_padj.dat.gz
/storage/kakapo/200406_padj.dat.gz
/storage/kakapo/200407_padj.dat.gz
/storage/kakapo/200408_padj.dat.gz
/storage/kakapo/200409_padj.dat.gz
/storage/kakapo/200410_padj.dat.gz
/storage/kakapo/200411_padj.dat.gz
/storage/kakapo/200412_padj.dat.gz
/storage/kakapo/200501_padj.dat.gz
/storage/kakapo/200502_padj.dat.gz
/storage/kakapo/200503_padj.dat.gz
/storage/kakapo/200504_padj.dat.gz
/storage/kakapo/200505_padj.dat.gz
/storage/kakapo/200506_padj.dat.gz
/storage/kakapo/200507_padj.dat.gz
/storage/kakapo/200508_padj.dat.gz
/storage/kakapo/200509_padj.dat.gz
/storage/kakapo/200510_padj.dat.gz
/storage/kakapo/200511_padj.dat.gz
/storage/kakapo/200512_padj.dat.gz
/storage/kakapo/200601_padj.dat.gz
/storage/kakapo/200602_padj.dat.gz
/storage/kakapo/200603_padj.dat.gz
/storage/kakapo/200604_padj.dat.gz
/storage/kakapo/200605_padj.dat.gz
/storage/kakapo/200606_padj.dat.gz
/storage/kakapo/200607_padj.dat.gz
/storage/kakapo/200608_padj.dat.gz
/storage/kakapo/200609_padj.dat.gz
/storage/kakapo/200610_padj.dat.gz
/storage/kakapo/200611_padj.dat.gz
/storage/kakapo/200612_padj.dat.gz
/storage/kakapo/200701_padj.dat.gz
/storage/kakapo/200702_padj.dat.gz
/storage/kakapo/200703_padj.dat.gz
/storage/kakapo/200704_padj.dat.gz
/storage/kakapo/200705_padj.dat.gz
/storage/kakapo/200706_padj.dat.gz
/storage/kakapo/200707_padj.dat.gz
/storage/kakapo/200708_padj.dat.gz
/storage/kakapo/200709_padj.dat.gz
/storage/kakapo/200710_padj.dat.gz
/storage/kakapo/200711_padj.dat.gz
/storage/kakapo/200712_padj.dat.gz
/storage/kakapo/200801_padj.dat.gz
/storage/kakapo/200802_padj.dat.gz
/storage/kakapo/200803_padj.dat.gz
/storage/kakapo/200804_padj.dat.gz
/storage/kakapo/200805_padj.dat.gz
/storage/kakapo/200806_padj.dat.gz
/storage/kakapo/200807_padj.dat.gz
/storage/kakapo/200808_padj.dat.gz
/storage/kakapo/200809_padj.dat.gz
/storage/kakapo/200810_padj.dat.gz
/storage/kakapo/200811_padj.dat.gz
/storage/kakapo/200812_padj.dat.gz
/storage/kakapo/200901_padj.dat.gz
/storage/kakapo/200902_padj.dat.gz
/storage/kakapo/200903_padj.dat.gz
/storage/kakapo/200904_padj.dat.gz
/storage/kakapo/200905_padj.dat.gz
/storage/kakapo/200906_padj.dat.gz
/storage/kakapo/200907_padj.dat.gz
/storage/kakapo/200908_padj.dat.gz
/storage/kakapo/200909_padj.dat.gz
/storage/kakapo/200910_padj.dat.gz
/storage/kakapo/200911_padj.dat.gz
/storage/kakapo/200912_padj.dat.gz
/storage/kakapo/201001_padj.dat.gz
/storage/kakapo/201002_padj.dat.gz
/storage/kakapo/201003_padj.dat.gz
/storage/kakapo/201004_padj.dat.gz
/storage/kakapo/201005_padj.dat.gz
/storage/kakapo/201006_padj.dat.gz
/storage/kakapo/201007_padj.dat.gz
/storage/kakapo/201008_padj.dat.gz
/storage/kakapo/201009_padj.dat.gz
/storage/kakapo/201010_padj.dat.gz
/storage/kakapo/201011_padj.dat.gz
/storage/kakapo/201012_padj.dat.gz
/storage/kakapo/201101_padj.dat.gz
/storage/kakapo/201102_padj.dat.gz
/storage/kakapo/201103_padj.dat.gz
/storage/kakapo/201104_padj.dat.gz
/storage/kakapo/201105_padj.dat.gz
/storage/kakapo/201106_padj.dat.gz
/storage/kakapo/201107_padj.dat.gz
/storage/kakapo/201108_padj.dat.gz
/storage/kakapo/201109_padj.dat.gz
/storage/kakapo/201110_padj.dat.gz
/storage/kakapo/201111_padj.dat.gz
/storage/kakapo/201112_padj.dat.gz
/storage/kakapo/201201_padj.dat.gz
/storage/kakapo/201202_padj.dat.gz
/storage/kakapo/201203_padj.dat.gz
/storage/kakapo/201204_padj.dat.gz
/storage/kakapo/201205_padj.dat.gz
/storage/kakapo/201206_padj.dat.gz
/storage/kakapo/201207_padj.dat.gz
/storage/kakapo/201208_padj.dat.gz
/storage/kakapo/201209_padj.dat.gz
/storage/kakapo/201210_padj.dat.gz
/storage/kakapo/201211_padj.dat.gz
/storage/kakapo/201212_padj.dat.gz
/storage/kakapo/201301_padj.dat.gz
/storage/kakapo/201302_padj.dat.gz
/storage/kakapo/201303_padj.dat.gz
/storage/kakapo/201304_padj.dat.gz
/storage/kakapo/201305_padj.dat.gz
/storage/kakapo/201306_padj.dat.gz
/storage/kakapo/201307_padj.dat.gz
/storage/kakapo/201308_padj.dat.gz
/storage/kakapo/201309_padj.dat.gz
/storage/kakapo/201310_padj.dat.gz
/storage/kakapo/201311_padj.dat.gz
/storage/kakapo/201312_padj.dat.gz
/storage/kakapo/201401_padj.dat.gz
/storage/kakapo/201402_padj.dat.gz
/storage/kakapo/201403_padj.dat.gz
/storage/kakapo/201404_padj.dat.gz
/storage/kakapo/201405_padj.dat.gz
/storage/kakapo/201406_padj.dat.gz
/storage/kakapo/201407_padj.dat.gz
/storage/kakapo/201408_padj.dat.gz
/storage/kakapo/201409_padj.dat.gz
/storage/kakapo/201410_padj.dat.gz
/storage/kakapo/201411_padj.dat.gz
/storage/kakapo/201412_padj.dat.gz
/storage/kakapo/201501_padj.dat.gz
/storage/kakapo/201502_padj.dat.gz
/storage/kakapo/201503_padj.dat.gz
/storage/kakapo/201504_padj.dat.gz
/storage/kakapo/201505_padj.dat.gz
/storage/kakapo/201506_padj.dat.gz
/storage/kakapo/201507_padj.dat.gz
/storage/kakapo/201508_padj.dat.gz
/storage/kakapo/201509_padj.dat.gz
/storage/kakapo/201510_padj.dat.gz
/storage/kakapo/201511_padj.dat.gz
/storage/kakapo/201512_padj.dat.gz
/storage/kakapo/201601_padj.dat.gz
/storage/kakapo/201602_padj.dat.gz
/storage/kakapo/201603_padj.dat.gz
/storage/kakapo/201604_padj.dat.gz
/storage/kakapo/201605_padj.dat.gz
/storage/kakapo/201606_padj.dat.gz
/storage/kakapo/201607_padj.dat.gz
/storage/kakapo/201608_padj.dat.gz
/storage/kakapo/201609_padj.dat.gz
/storage/kakapo/201610_padj.dat.gz
/storage/kakapo/201611_padj.dat.gz
/storage/kakapo/201612_padj.dat.gz
/storage/kakapo/201701_padj.dat.gz
/storage/kakapo/201702_padj.dat.gz
/storage/kakapo/201703_padj.dat.gz
/storage/kakapo/201704_padj.dat.gz
/storage/kakapo/201705_padj.dat.gz
/storage/kakapo/201706_padj.dat.gz
/storage/kakapo/201707_padj.dat.gz
/storage/kakapo/201708_padj.dat.gz
/storage/kakapo/201709_padj.dat.gz
/storage/kakapo/201710_padj.dat.gz
/storage/kakapo/201711_padj.dat.gz
/storage/kakapo/201712_padj.dat.gz
/storage/kakapo/201801_padj.dat.gz
/storage/kakapo/201802_padj.dat.gz
/storage/kakapo/201803_padj.dat.gz
/storage/kakapo/201804_padj.dat.gz
/storage/kakapo/201805_padj.dat.gz
/storage/kakapo/201806_padj.dat.gz

In [4]:
smdf = pd.read_sql_query('SELECT * FROM {} LIMIT 10;'.format(tableName), conn)

DatabaseError: Execution failed on sql 'SELECT * FROM profiles LIMIT 10;': no such table: profiles

In [61]:
conn.execute('''SELECT COUNT(*) FROM {};'''.format(tableName))

(553930, 17)